body {
  max-width: 60rem;
  margin: auto;
  padding: 1rem;
  background: linear-gradient(-45deg, #a18cd1, #fbc2eb, #8ec5fc, #e0c3fc);
  background-size: 300% 300%;
  animation: gradientBG 12s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  top: 0;
  padding: 1rem;
  z-index: 99;
  background-color: #8ec5fc;
  border: 1px solid black;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  header {
    position: sticky;
  }
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
}

.title {
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: auto;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid black;
}

@media only screen and (min-width: 768px) {
  .image-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.image-grid>div {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: .5rem;
  overflow: hidden;
  background-color: #8ec5fc;
  text-align: center;
}

.image-grid img {
  max-width: 100%;
  cursor: pointer;
}

.image-grid img:hover {
  transform: translate(0, -0.5rem);
}